@import '../../styles/colors';
@import '../../styles/breakpoints';
.navigations {
    display: flex;
    flex-direction: column;
    padding: 5px 10px 25px;
    margin: auto 15px auto;
    border-radius: 10px;
    width: 95%;
    &Link {
        color: $beige;
        text-transform: uppercase;
        opacity: .7;
        font-size: 24px;
        transition: .2s ease all;
        &:hover {
            transition: .2s ease all;
            opacity: 1;
            color: $white;
        }
        &Active {
            opacity: 1;
        }
    }
}

@include sm {
    .navigations {
        width: 85%;
        &Link {
            font-size: 20px;
        }
    }
}