@import '../../../styles/colors';
@import '../../../styles/breakpoints';
.horse {
    &Properties {
        margin-top: 15px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 20px;
        text-align: left;
        &Item {
            margin-bottom: 5px;
            & span:first-child {
                margin-right: 5px;
                font-weight: bold;
                font-size: 16px;
            }
            & span:last-child {
                font-weight: 600;
            }
        }
    }
    &Progress {
        width: 85%;
        & .ant-progress-bg {
            background-color: $green !important;
        }
    }
}

@include sm {
    .horse {
        &Properties {
            gap: 10px 10px;
            &Item {
                & span:first-child {
                    font-size: 12px;
                }
                & span:last-child {
                    font-size: 12px;
                }
            }
        }
    }
}