@import "../../styles/colors";
@import '../../styles/breakpoints';
.userMenu {
    background-color: $beige;
    padding: 15px 10px 15px;
    margin: 15px auto 0 auto;
    border-radius: 10px;
    width: 95%;
    &Avatar {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    &Info {
        font-size: 14px;
        strong {
            margin-right: 5px;
            font-size: 16px;
        }
        & img {
            height: 20px;
        }
        display: flex;
        align-items: center;
    }
    &Logout {
        display: flex;
        flex-direction: row-reverse;
        button {
            background-color: $green;
            border-color: $green;
            &:hover {
                background-color: $red;
                border-color: $red;
            }
        }
    }
}

@include sm {
    .userMenu {
        width: 85%;
        &Avatar {
            &>span {
                width: 35px !important;
                height: 35px !important;
                & svg {
                    width: 15px !important;
                    height: 15px !important;
                    margin-bottom: 24px;
                }
            }
        }
        &Info {
            font-size: 12px;
            strong {
                margin-right: 5px;
                font-size: 14px;
            }
            & img {
                height: 15px;
            }
        }
        &Logout {
            button {
                font-size: 12px;
                padding: 5px 10px;
            }
        }
    }
}