@import "../../styles/colors";
.userMenu {
    background-color: $beige;
    padding: 15px 10px 15px;
    margin: 15px auto 0 auto;
    border-radius: 10px;
    width: 95%;
    &Avatar {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    &Info {
        font-size: 14px;
        strong {
            margin-right: 5px;
            font-size: 16px;
        }
        & img {
            height: 20px;
        }
        display: flex;
        align-items: center;
    }
    &Logout {
        display: flex;
        flex-direction: row-reverse;
        button {
            background-color: $green;
            border-color: $green;
            &:hover {
                background-color: $red;
                border-color: $red;
            }
        }
    }
}