@import '../../styles/colors';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.sideBar {
    background: $black !important;
    transition: 1s !important;
    z-index: 99;
    &IsOpened {
        width: 275px !important;
        max-width: 275px !important;
        min-width: 275px !important;
        position: relative !important;
        left: 0 !important;
    }
    &IsClosed {
        width: 275px !important;
        min-width: 275px !important;
        max-width: 275px !important;
        position: absolute !important;
        right: 100% !important;
    }
    &Mobile {
        position: absolute !important;
        height: 100%;
    }
}

.header {
    font-family: 'VT323', monospace;
    background: $black !important;
    color: $beige !important;
    text-align: center;
    font-size: 36px;
    width: 100% !important;
    transition: 1s ease all !important;
}

.content {
    padding: 25px 15px;
    min-height: calc(100vh - 142px);
}

.footer {
    text-align: right;
    a {
        color: $black;
        &:hover {
            color: rgba($color: $black, $alpha: 0.8);
        }
    }
}