@import '../../styles/colors';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.sideBar {
    background: $black !important;
    &IsOpened {
        width: 275px !important;
        max-width: 275px !important;
        min-width: 275px !important;
    }
    &IsClosed {
        width: 0 !important;
        min-width: 0 !important;
        max-width: 0 !important;
    }
}

.header {
    font-family: 'VT323', monospace;
    background: $black !important;
    color: $beige !important;
    text-align: center;
    font-size: 36px;
}

.content {
    padding: 25px 15px;
}