@import '../../styles/breakpoints';
.pixelShop {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px 20px;
}

@include sm {
    .pixelShop {
        margin-top: 55px;
        grid-template-columns: 1fr 1fr;
    }
}