@import "../../../styles/colors";
@import '../../../styles/breakpoints';
.raceLane {
    width: 100%;
    height: 55px;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    background: $soil;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    &Placement {
        z-index: 9;
        font-size: 20px;
        color: $beige;
        position: absolute;
        right: 70px;
    }
}

@include md {
    .raceLane {
        height: 40px;
        &Placement {
            right: 50px;
        }
    }
}

@include sm {
    .raceLane {
        height: 30px;
        &Placement {
            font-size: 14px;
            right: 40px;
        }
    }
}