@import "../../../styles/colors";
@import '../../../styles/breakpoints';
.raceLane {
    width: 100%;
    height: 55px;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    background: $soil;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

@include md {
    .raceLane {
        height: 40px;
    }
}

@include sm {
    .raceLane {
        height: 30px;
    }
}