$black: #0c1618;
$green: #004643;
$beige: #faf4d3;
$yellow: #d1ac00;
$red: #a4243b;
$tomato-red: #ff6347;
$white: #ffffff;
$level1: #0c1618;
$level2: #367be3;
$level3: #ffd700;
$raceTable: #348c31;
$soil: #9b7653;