@import "../../../styles/colors";
@import "../../../styles/breakpoints";
.horse {
    &Title {
        background: rgba(0, 0, 0, 0.25);
        padding: 5px;
        border-radius: 4px;
        &1 {
            color: $level1;
        }
        &2 {
            color: $level2;
        }
        &3 {
            color: $level3;
        }
        &4 {
            color: $level4;
        }
    }
}

@include sm {
    .horse {
        &Title {
            font-size: 12px;
            margin-bottom: 0;
        }
    }
}